.project {
  margin-right: 100px;
  margin-left: 100px;
  padding-bottom: 5px;
  width: 100%;
}

.project hr {
  color: #138781;
  width: 400px;
  margin: 10px auto;
}

.project h2 {
  font-weight: bold;
  color: #138781;
}

#ads {
  margin: 30px 0px 30px 0px;
  display: flex; /* Use flex container for horizontal alignment */
  flex-wrap: wrap; /* Allow wrapping to the next line on small screens */
}

#ads .col-md-4 {
  flex: 0 0 calc(33.33% - 20px); /* Adjust the width of each project card */
  margin: 10px; /* Add margin for spacing between cards */
  padding-top: 15px;
}

#ads .card-notify-badge {
  position: absolute;
  left: -10px;
  top: -28px;
  background: #f29f67;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  color: black;
  padding: 5px 10px;

  font-size: 14px;
}

.project .card img {
  height: 200px;
  width: 100%;
}

.card-detail-badge {
  background-color: #f5d311;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  color: black;
  padding: 5px 10px;
  font-size: 14px;
  height: fit-content;
}
.card-image-overly {
  font-size: 20px;
}
.card-image-overly span {
  display: inline-block;
  margin-left: 5px;
}

.project .card:hover {
  background-color: white;
  border-radius: 4px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transition: all 1s ease;
}

.ad-btn {
  text-transform: uppercase;
  width: 150px;
  height: 40px;
  display: block;
  text-align: center;
  background-color: #17d6a6b2;
  color: white;
  border-radius: 80px;
  font-size: 16px;
  line-height: 35px;
  text-decoration: none;
  margin: 20px auto 20px auto;
  overflow: hidden;
  position: relative;
}

.ad-btn:hover {
  background-color: white;
  color: #138781;
  background: transparent;
  border: 2px solid #138781;
  transition: all 0.5s ease;
  box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
}

/* =============================== */
@media (max-width: 600px) {
  .project {
    margin: 0;
    padding: 0;
    margin-top: 50px;
  }
  .project hr {
    width: 280px;
  }
  #ads .col-md-4 {
    flex: 0 0 calc(100% - 20px); /* Adjust width for small screens */
  }
}
